<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserMapper">

    <select id="queryUserByCreateTime" resultType="org.example.entities.AnotherUser">
        <![CDATA[ select * from user where gmt_create >= #{startDate} and gmt_create <= #{endDate}]]>
    </select>
</mapper>
